.section {
    padding-top: #{map-get($spaces, '10l')};
    padding-bottom: #{map-get($spaces, '10l')};
}
.section {
    &-title {
        &-main {
            font-size: #{map-get($font-size, '4l')};
            text-align: center;
            font-weight: bold;
            position: relative;
            margin-bottom: #{map-get($spaces, '6l')};
            @include sm() {
                font-size: #{map-get($font-size, '3l')};
            }
            &-en {
                font-size: #{map-get($font-size, 'xl')};
                font-weight: normal;
                @include sm() {
                    font-size: #{map-get($font-size, 'l')};
                }
                & span {
                    position: relative;
                    display: inline-block;
                    padding: 0 55px;
                    @include sm() {
                        padding: 0 35px;
                    }
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        display: inline-block;
                        width: 45px;
                        height: 1px;
                        background-color: #787878;
                        @include sm() {
                            width: 25px;
                        }
                      }
                      &:before {
                        left:0;
                      }
                      &:after {
                        right: 0;
                      }
                }
            }
            &::after {
                content: "";
                position: absolute;
                width: 70px;
                height: 2px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;  
                background: #7d2b2b;
                @include sm() {
                    width: 45px;
                }
            }
        }
        &-sub {
            display: inline-block;
            margin-bottom: #{map-get($spaces, '6l')};
            position: relative;
            font-size: #{map-get($font-size, 'xxl')};
            font-weight: bold;
            @include sm() {
                margin-left: auto;
                margin-right: auto;
                font-size: #{map-get($font-size, 'l')};
            }
            &::before, &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid #22357e;
            }
            &::before {
                top: 0px;
                left: 0px;
            }
            &::after {
                top: 4px;
                left: 4px;
            }
            &-inner {
                display: inline-block;
                padding: #{map-get($spaces, 'l')};
            }
            &-en {
                display: inline;
                font-size: #{map-get($font-size, 'l')};
                font-weight: normal;
                @include sm() {
                    font-size: #{map-get($font-size, 'm')};
                }
                & span {
                    position: relative;
                    display: inline-block;
                    padding: 0 30px;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        display: inline-block;
                        width: 20px;
                        height: 1px;
                        background-color: #787878;
                      }
                      &:before {
                        left:0;
                      }
                      &:after {
                        right: 0;
                      }
                }
            }
        }
    }
    &-description {
        font-size: #{map-get($font-size, 'l')};
        text-align: center;
        margin-bottom: #{map-get($font-size, '5l')};
        line-height: 2.0;
    }
    &-panel {
        height: auto;
        @include sm() {
            margin-bottom: #{map-get($spaces, 'xl')};
        }
    }
}

.about {
    &-body {
        @include pc() {
            padding-left: #{map-get($spaces, '10l')};
        }
    }
    &-img {
        @include sm() {
            margin-bottom: #{map-get($spaces, '3l')};
        }
    }
    &-name {
        color: #22357e;
        font-size: #{map-get($font-size, 'xxl')};
        font-weight: bold;
        margin-bottom: #{map-get($spaces, 's')};
        @include sm() {
            font-size: #{map-get($font-size, 'xl')};
            text-align: center;
        }
    }
    &-status {
        color: #333;
        font-size: #{map-get($font-size, 'l')};
        font-weight: 700;
        margin-bottom: #{map-get($spaces, 'xl')};
        @include sm() {
            text-align: center;
        }
    }
}

$circle_size: 165px;
$circle_size_sm: 120px;
$circle_size_md: 160px;
#skills, #services, #points{
    background: #eeeeee;
}
.skills{
    &-item {
        margin-bottom: #{map-get($spaces, '5l')};
        &:hover img {
            -moz-transform: scale(1.2,1.2);
            -webkit-transform: scale(1.2,1.2);
            -o-transform: scale(1.2,1.2);
            -ms-transform: scale(1.2,1.2);
            transition: all 0.5s;
        }
    }
    &-circle{
         position: relative;
         width: $circle_size;
         height: $circle_size;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: #{map-get($spaces, '3l')};
         font-size: #{map-get($font-size, 'l')};
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         text-align: center;
         overflow: hidden;
         & img {
            transition: all 0.5s;
         }
        //  @include sm(){
        //     width: $circle_size_sm;
        //     height: $circle_size_sm;
        //     margin: #{map-get($spaces, 'l')} #{map-get($spaces, 'xl')};
        //     font-size: #{map-get($font-size, 'm')};
        //  }
        //  @include md(){
        //     width: $circle_size_md;
        //     height: $circle_size_md;
        //     margin: #{map-get($spaces, '3l')} #{map-get($spaces, '3l')};
        //     font-size: #{map-get($font-size, 'l')};
        //  }
    }
    &-circle::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -1*($circle_size / 2);
        width: $circle_size;
        height: $circle_size;
        transform-origin: right $circle_size / 2;
        z-index: 1;
        // @include sm(){
        //     width: $circle_size_sm;
        //     height: $circle_size_sm;
        //     left: -1*($circle_size_sm / 2);
        // }
        // @include md(){
        //     width: $circle_size_md;
        //     height: $circle_size_md;
        //     left: -1*($circle_size_md / 2);
        // }
    }
    &-circle::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: $circle_size / 2;
        width: $circle_size;
        height: $circle_size;
        transform-origin: left $circle_size / 2;
        z-index: 1;
        // @include sm(){
        //     width: $circle_size_sm;
        //     height: $circle_size_sm;
        //     left: $circle_size_sm / 2;
        //     transform-origin: left $circle_size_sm / 2;
        //  }
        //  @include md(){
        //     width: $circle_size_md;
        //     height: $circle_size_md;
        //     left: $circle_size_md / 2;
        //     transform-origin: left $circle_size_md / 2;
        //  }
    }
    &-language{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: #{map-get($spaces, '3l')};
        width: $circle_size - 20;
        height: $circle_size - 20;
        line-height: $circle_size - 20;
        background: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        z-index: 2;
        box-sizing: border-box;
        // @include sm(){
        //     width: $circle_size_sm - 20;
        //     height: $circle_size_sm - 20;
        //     line-height: $circle_size_sm - 20;
        // }
        // @include md(){
        //     width: $circle_size_md - 20;
        //     height: $circle_size_md - 20;
        //     line-height: $circle_size_md - 20;
        // }
    }
    $languages: (
        html: (
            main-color: #F16529,
            sub-color: #f0d9d0,
            deg: 0deg
        ),
        css: (
            main-color: #33A9DC,
            sub-color: #cbdfe9,
            deg: 0deg
        ),
        js: (
            main-color: #F0DB50,
            sub-color: #eee9ce,
            deg: 75deg
        ),
        php: (
            main-color: #6181B6,
            sub-color: #d2d9e4,
            deg: 50deg
        ),
        vue: (
            main-color: #41B883,
            sub-color: #cdecde,
            deg-right: 180deg,
            deg: 30deg
        ),
        laravel: (
            main-color: #F94F31,
            sub-color: #ffcac1,
            deg: 30deg
        )
    );

    @each $language, $property in $languages {
        &-#{$language} {
            background: #{map-get($property, main-color)};
            &::before, &::after {
                background: #{map-get($property, sub-color)};
            }
            &::before {
                transform: rotate(#{map-get($property, deg)});
            }
            &::after {
                transform: rotate(360deg);
                background: #{map-get($property, main-color)};
            }
            @include pc() {
                &::before, &::after {
                    background: #{map-get($property, sub-color)};
                }
                &::before {
                    animation: rotate-circle-#{$language}-left 2s linear forwards;
                }
                &::after {
                    animation: rotate-circle-#{$language}-right 2s linear forwards;
                }
            }
        }
        @keyframes rotate-circle-#{$language}-right{
            0% {
                transform: rotate(0deg);
                background: #{map-get($property, sub-color)};
            }
            50% {
                transform: rotate(180deg);
                background: #{map-get($property, sub-color)};
            }
            50.01% {
                transform: rotate(360deg);
                background: #{map-get($property, main-color)};
            }
            100%{
                transform: rotate(360deg);
                background: #{map-get($property, main-color)};
            }
        }
        @keyframes rotate-circle-#{$language}-left{
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(#{map-get($property, deg)});
            }
        }
    }
}


.img-circle {
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    & img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.work {
    &-title {
        position: absolute;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        bottom: 100%;
        left: 0;
        width: 100%;
        padding-top: #{map-get($spaces, 'l')};
        padding-bottom: #{map-get($spaces, 'l')};
        background: #333;
        transition: all 0.5s;
        z-index: 1;
    }
    &-description {
        position: absolute;
        color: #f4f4f4;
        font-size: #{map-get($font-size, 'm')};
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
        padding-left: #{map-get($spaces, 'l')};
        padding-right: #{map-get($spaces, 'l')};
        transition: all 0.5s;
    }
    &-link {
        display: block;
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
        }
        &:hover {
            &::after {
                background: rgba(0, 0, 0, 0.5);
                transition: all 0.5s;
            }
            & img {
                -moz-transform: scale(1.2,1.2);
                -webkit-transform: scale(1.2,1.2);
                -o-transform: scale(1.2,1.2);
                -ms-transform: scale(1.2,1.2);
                transition: all 0.5s;
            }
            & .work-title {
                bottom: 55%;
                transition: all 0.5s;
            }
            & .work-description {
                top: 50%;
                transition: all 0.5s;
            }
        } 
        & img {
            transition: all 0.5s;
        }
    }
}

.services { 
    &-item {
        height: 100%;
        background: #ffffff;
        padding: #{map-get($spaces, '5l')}  #{map-get($spaces, 'xl')};
        &:hover .service-title, &:active .service-icn {
            color: #fff;
            background: #22357e;
            transition: all .5s;
            animation: jump 0.9s linear 0s 1;
        }
        &:hover .service-title, &:active .service-title {
            color: #22357e;
        }
    }
    @keyframes jump {
        0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
        10%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
        40%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
        50%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
        60%  { transform: scale(0.9, 1.2) translate(0%, -100%); }
        75%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
        85%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
        100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
      }
    &-icn {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        text-align: center;
        line-height: 120px;
        background: #c9c9c9;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: #{map-get($spaces, 'l')};
        color: #ffffff;
        font-size: #{map-get($font-size, 'xxl')};
        transition: all 0.5s;
    }
    &-title {
        text-align: center;
        font-size: #{map-get($font-size, 'xxl')};
        font-weight: bold;
        @include tab() {
            font-size: #{map-get($font-size, 'l')};
        }
    }
    &-price {
        text-align: center;
        margin-bottom: #{map-get($spaces, 'xl')};
    }
}

.contact {
    &-mail {
        font-size: #{map-get($font-size, 'l')};
        text-align: center;
        font-weight: 700;
        margin-bottom: #{map-get($spaces, '8l')};
        span {
            color: #ec6b9c;
            margin-left: #{map-get($spaces, 's')};
        }
    }
    &-form {
        @include pc() {
            width: 45%;
            margin-left: auto;
            margin-right: auto;
        }
        &-group {
            margin-bottom: #{map-get($spaces, 'xxl')};
        }
        &-input, &-textarea {
            width: 100%;
            border: none;
            background: #eeeeee;
            padding: #{map-get($spaces, 'm')};
            &-err {
                background: #ffeaea;
            }
        }
        &-input {
            height: 40px;
        }
        &-textarea {
            height: 200px;
            resize: none;
        }
        &-err {
            color: #ff6f6f;
        }
    }
}
.hobby {
    &-left {
        position: relative;
        @include sm() {
            margin-bottom: #{map-get($spaces, 'xl')};
        }
    }
    &-slider {
        overflow: hidden;
        width: 75%;
        margin: auto;
        &-list {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flexbox;
            display: -moz-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-flex;
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            top :0;
            left: 0;
            margin: auto;
        }
        &-item {
            min-width: 100%;
        }
    }
} 

.career {
    &-item {
        &:last-child {
            .career-right {
                &::before {
                    content: "\f005";
                    font-family: "Font Awesome 5 Free";
                    color: #ecd96b;
                    font-weight: bold;
                    position: absolute;
                    font-size: #{map-get($font-size, '3l')};
                    top: 8px;
                    left: -21px;
                    border-radius: 100%;
                    background: none;
                    @include sm() {
                        font-size: #{map-get($font-size, 'xl')};
                        top: 15px;
                        left: -13px;
                    }
                }
            }
        }
    }
    &-body .col-8 {
        padding-left: 0;
    }
    &-left {
        color: #333;
        padding: #{map-get($spaces, 'xl')} #{map-get($spaces, '8l')};
        text-align: right;
        font-weight: bold;
        font-size: #{map-get($font-size, 'xl')};
        @include sm() {
            font-size: #{map-get($font-size, 'm')};
            padding: #{map-get($spaces, 'xl')} 0;
        }
    }
    &-right {
        border-left: 2px solid #787878;
        padding: #{map-get($spaces, 'xl')} #{map-get($spaces, '8l')};
        position: relative;
        @include sm() {
            padding: #{map-get($spaces, 'xl')} #{map-get($spaces, 'l')};
        }
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: 25px;
            left: -11px;
            border-radius: 100%;
            background: #ec6b9c;
            @include sm() {
                width: 15px;
                height: 15px;
                top: 24px;
                left: -9px;
            }
        }
    }
    &-title {
        color: #333;
        font-weight: bold;
        font-size: #{map-get($font-size, 'xl')};
        @include sm() {
            font-size: #{map-get($font-size, 'default')};
        }
    }
    &-description {
        font-size: #{map-get($font-size, 'm')};
    }
}

.points { 
    &-item{
        background: #ffffff;
        padding: #{map-get($spaces, '5l')}  #{map-get($spaces, 'xl')};
        border: 2px solid #ffffff;
        box-sizing: border-box;
        border-radius: 3px;
        height: 100%;
        // @include sm() {
        //     margin-bottom: #{map-get($spaces, 'xl')};
        // }
        &:hover, &:active {
            transition: all .5s;
            transform: scale(1.1) !important;
            border: 5px solid #ec6b9c;
            @include sm() {
                transform: scale(1.05) !important;
            }
            & .points-icn {
                transition: all .5s;
                color: #22357e;
                animation: rotateY 0.9s linear 0s 1;
            }
            & .points-title {
                transition: all .5s;
                color: #22357e;
            }
        } 
    }
    @keyframes rotateY {
        0%   { transform:rotateY(0deg) }
        10%  { transform:rotateY(45deg) }
        20%  { transform:rotateY(90deg) }
        30%  { transform:rotateY(180deg) }
        40%  { transform:rotateY(360deg) }
        50%  { transform:rotateY(180deg)}
        60%  { transform:rotateY(360deg) }
        70%  { transform:rotateY(180deg) }
        80%  { transform:rotateY(270deg) }
        90%  { transform:rotateY(315deg) }
        100% { transform:rotateY(360deg) }
      }
    &-icn {
        border-radius: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: #c9c9c9;
        font-size: #{map-get($font-size, '5l')};
        transition: all 0.5s;
    }
    &-title {
        text-align: center;
        font-size: #{map-get($font-size, 'xxl')};
        font-weight: bold;
        margin-bottom: #{map-get($spaces, 'xl')};
    }
    &-description {
        font-size: #{map-get($font-size, 'm')};
    }
}

.vision {
    &-body {
        text-align: center;
    }
    &-title {
        font-size: #{map-get($font-size, 'xl')};
        margin-bottom: #{map-get($spaces, 'xl')};
        @include sm() {
            font-size: #{map-get($font-size, 'l')};
        }
    }
    &-emphasis {
        font-size: #{map-get($font-size, '3l')};
        font-weight: bold;
        @include sm() {
            font-size: #{map-get($font-size, 'xl')};
        }
    }
    &-description {
        margin-bottom: #{map-get($spaces, 'xl')};;
        line-height: 2.0;
    }
    &-propaganda {
        font-size: #{map-get($font-size, 'xl')};
        font-weight: bold;
        @include sm() {
            font-size: #{map-get($font-size, 'l')};
        }
    }
}