.services { 
    &-item {
        height: 100%;
        background: #ffffff;
        padding: #{map-get($spaces, '5l')}  #{map-get($spaces, 'xl')};
        &:hover .services-icn {
            color: #fff;
            background: #22357e;
            transition: all .5s;
            animation: jump 0.9s linear 0s 1;
        }
        &:hover .services-title {
            color: #22357e;
        }
    }
    @keyframes jump {
        0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
        10%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
        40%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
        50%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
        60%  { transform: scale(0.9, 1.2) translate(0%, -100%); }
        75%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
        85%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
        100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
      }
    &-icn {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        text-align: center;
        line-height: 120px;
        background: #c9c9c9;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: #{map-get($spaces, 'l')};
        color: #ffffff;
        font-size: #{map-get($font-size, 'xxl')};
        transition: all 0.5s;
    }
    &-title {
        text-align: center;
        font-size: #{map-get($font-size, 'xxl')};
        font-weight: bold;
        @include tab() {
            font-size: #{map-get($font-size, 'l')};
        }
    }
    &-price {
        text-align: center;
        margin-bottom: #{map-get($spaces, 'xl')};
    }
}